@model IEnumerable<system.administration.DAL.Entities.Program>

@{
    ViewData["Title"] = "AddProgram";
}

<h1>AddProgram</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.show)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.premiere_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.performance_period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.days_and_times)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ticket_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.show)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.premiere_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.performance_period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.days_and_times)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticket_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
